[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-extensions = "*"
drf-yasg = "*"
django-cors-headers = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2 = "*"
termcolor = "*"
pandas = "*"
openpyxl = "*"
redis = "*"
celery = "*"
eventlet = "*"
drf-nested-routers = "*"

[dev-packages]
black = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
waitress = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true

[scripts]
dev = "py manage.py runserver"
db-update = "py manage.py makemigrations"
db-apply = "py manage.py migrate"
db_clear = "py manage.py reset_db"
static = 'py manage.py collectstatic'
deploy = "git push heroku main"
smtp = "docker run --rm -it -p 5000:80 -p 2525:25 rnwood/smtp4dev"
make-admin = "py manage.py createsuperuser"
redis = "docker run -d -p 6379:6379 redis"
celery = "celery -A core worker -l info -P eventlet"
